<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercadopago">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application android:allowBackup="true">
        <activity
            android:name=".VaultActivity"
            android:label="@string/mpsdk_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".CustomerCardsActivity"
            android:label="@string/mpsdk_title_activity_customer_pms"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".NewCardActivity"
            android:label="@string/mpsdk_title_activity_new_card"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".InstallmentsActivity"
            android:label="@string/mpsdk_title_activity_installments"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".PaymentMethodsActivity"
            android:label="@string/mpsdk_title_activity_payment_methods"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".IssuersActivity"
            android:label="@string/mpsdk_title_activity_issuers"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".OldCongratsActivity"
            android:label="@string/mpsdk_title_activity_congrats"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".BankDealsActivity"
            android:label="@string/mpsdk_title_activity_bank_deals"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:label="@string/mpsdk_title_activity_terms_and_conditions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme" />
        <activity
            android:name=".CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name=".InstallAppActivity"
            android:label="@string/mpsdk_title_activity_install_app"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="mpsdk_install_app" />
                <data android:scheme="mercadopago" />
            </intent-filter>
        </activity>
        <activity android:name=".OldGuessingNewCardActivity"
            android:theme="@style/Theme.MercadoPagoTheme"/>

        <activity
            android:name=".GuessingNewCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />

        <activity
            android:name=".PaymentVaultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />

        <activity
            android:name=".InstructionsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />

        <activity
            android:name=".CongratsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>

        <activity android:name=".CardInstallmentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar">
        </activity>

        <activity android:name=".CardIssuersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar">
        </activity>

        <activity android:name=".CardVaultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar">
        </activity>

        <activity android:name=".ErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
    </application>
</manifest>
